body{
    background-color: black;
    font-family: 'PT Mono', monospace;
    color: azure;
    font-size: 42px;
}

#container{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

#sentence{
    width: 1000px;
    text-align: center;
    margin-top: 70px;
    margin-bottom: 70px;
    height: 50px;
}

#hangmanImage{
    float: left;
    width: 500px;
}

#alphabet{
    float: left;
    width: 500px;
    text-align: center;
    font-size: 32px;
}

.character{
    font-size: 26px;
    width: 30px;
    height: 30px;
    border: 2px solid white;
    border-radius: 15px;
    margin: 5px;
    text-align: center;
    padding: 5px;
    cursor: pointer;
    float: left;
}

.resetButton{
    border: 2px solid dimgray; 
    border-radius: 12px;
    background-color: rgb(49, 49, 49);
    cursor: pointer;
}

.categoryItem{
    cursor: pointer;
}